@tailwind base;
@tailwind components;
@tailwind utilities;

#connectButtonContainer button {
  width: 24rem;
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(#6bd124, #3e70a1);
}
